# Ignore Build SDK parts
toolchain/bin
toolchain/lib
picolibc/include
picolibc/lib

# Ignore Example Program build folders
examples/HelloWorld/build
examples/Teapot/build
examples/wiimote/build
.vscode/settings.json
.vscode/settings.json
/.vscode
